body{
  margin:0 auto;
}
/* header */

header {
  width:100%;
  height:80px;
  font-family:verdana;
  font-size:14px;
  font-weight:bold;
  background-color:white;
  display:flex;
  justify-content:flex-start;
  align-content:space-between;
  border-bottom:1px solid black;
  position:fixed;
  z-index:1;
  overflow:hidden;
  margin:0 auto;

}

footer{
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height:300px;
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
}

span{
  padding:10px
}

.nav {
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  padding-right:10px;

}

.name{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right:1px solid white;
  padding:10 20;
}

.logo {
  display:flex;
  align-items:center;
  width:200px;
  padding:15px;
  flex: 1 0 200px;

}


/* container */

.container{
  display:flex;
  width:1232px;
  padding-top:116px;
  position:relative;
  margin-bottom:116;

}

.left{
  display:flex;
  width:630px;
  flex-direction:column;
  padding-right:32px;

}

.stories{
  display:flex;
  justify-content:space-between;
  margin-top:17px;
  flex-direction:row;

}

.story{
  display:flex;
  width:300px;
  flex-direction:column;
  height:250px;
}

.middle{
  display:inline-flex;
  width:300px;
  flex-direction:column;
  padding-right:32px;


}

.right{
  display:inline-flex;
  width:240px;
  flex-direction:column;

}

.item{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}


.imageitem {
  display:flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height:300px;
  flex-direction: column;
  justify-content: flex-start;
  margin-top:15px;
  text-align:center;

}

.imageitem p{
  margin:15px auto;
}

.newsbites{
  display:flex;
  flex-direction:column;
  border-bottom:1px solid black;
  margin:0 auto;
  padding:11 20;
}


.copyright{
  padding-top:15px;
}

.info{
  display:flex;
  justify-content: space-around;

}


#main{
  background-image:url("../images/main.png");
  font-size: 40px;
  text-align: left;
}

#fall{
  background-image: url("../images/fall.png");
}

#camera{
  background-image: url("../images/camera.png");
}

#cat{
  background-image: url("../images/catceo.png")
}

#logotop{
  padding:10px;
}

#bites{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}



h4 {
padding:8px;

}

h3{
  font-size: 16px;
  font-weight: bold;
  text-align:center;
  margin:16 auto 41 auto;
}

a {
  color:black;
}
#typelogo{
  color:MediumAquamarine;
}

p{
  margin:16 auto;
}
